body
{
  background: url("https://i.ytimg.com/vi/X7GhHlGcGzA/maxresdefault.jpg"); background-attachment: scroll; background-repeat: no-repeat; background-position:top ;
}
#banner {
  position: absolute;
  top: 100px;
  left: 50px;
  right: 50px;
  width: 100%;
  height: 200px;
  z-index: -1;
}
